<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="rfbEvAtt">
            <h2><span>Rfb Ev Att</span> {{rfbEvAtt.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Attendance Day</span></dt>
                <dd>
                    <span>{{rfbEvAtt.attendanceDay}}</span>
                </dd>
                <dt><span>Rfb User</span></dt>
                <dd>
                    <div *ngIf="rfbEvAtt.rfbUserId">
                        <a [routerLink]="['/rfb-user', rfbEvAtt.rfbUserId, 'view']">{{rfbEvAtt.rfbUserId}}</a>
                    </div>
                </dd>
                <dt><span>Rfb Event</span></dt>
                <dd>
                    <div *ngIf="rfbEvAtt.rfbEventId">
                        <a [routerLink]="['/rfb-event', rfbEvAtt.rfbEventId, 'view']">{{rfbEvAtt.rfbEventId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/rfb-ev-att', rfbEvAtt.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
