<div>
    <h2 id="page-heading">
        <span>Rfb Ev Atts</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-rfb-ev-att" [routerLink]="['/rfb-ev-att/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Rfb Ev Att
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="rfbEvAtts">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="attendanceDay"><span>Attendance Day</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="rfbUserId"><span>Rfb User</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="rfbEventId"><span>Rfb Event</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let rfbEvAtt of rfbEvAtts ;trackBy: trackId">
                <td><a [routerLink]="['/rfb-ev-att', rfbEvAtt.id, 'view' ]">{{rfbEvAtt.id}}</a></td>
                <td>{{rfbEvAtt.attendanceDay | date:'mediumDate'}}</td>
                <td>
                    <div *ngIf="rfbEvAtt.rfbUserId">
                        <a [routerLink]="['../rfb-user', rfbEvAtt.rfbUserId , 'view' ]" >{{rfbEvAtt.rfbUserId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="rfbEvAtt.rfbEventId">
                        <a [routerLink]="['../rfb-event', rfbEvAtt.rfbEventId , 'view' ]" >{{rfbEvAtt.rfbEventId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/rfb-ev-att', rfbEvAtt.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/rfb-ev-att', rfbEvAtt.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'rfb-ev-att/'+ rfbEvAtt.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
