<div id="rfb-home-intro" class="row">

    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <p class="events-header"> Running For Brews 5k Events</p>
        <img src="../../content/images/kevincover.jpg" width="555" height="226">
    </div>

    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
<h1 class="display-4">We Love 5k Running & Craft Brews</h1>
        <p>Running for Brews celebrates our love for fitness and craft brews. We meet a local bars, run a 2 or 3.1 mile route, and then drink delicious craft brews at the finish. With over 10,000+ members nationwide, RFB is continuously gathering like-minded runners to socialize and have some fun. Find Out How It All Began</p>
        <p>Find your location, like us on facebook, and come join us at a weekly event!</p>
    </div>

</div>
